body
        {
            margin: 0;
            background-color: #e6f2e9;
        }
        body *{
            margin: 0 20%;
        }
        main
        {
            margin: 0;
        }
        main h1
        {
            margin: 0;
            font-family: "Lemon", serif;
            margin-top: 0;
            text-align: center;
            font-size: 3rem;
            background-color: #86ffba;
            color: white;
            padding: 1.5%;
            text-shadow: 1px 1px 3px black;
        }
        main p
        {
            text-align: center;
            font-size: 1.5rem;
            color: purple;
            cursor: pointer;
        }
        article label
        {
            display: block;
        }
        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 120vh;
            border: solid 0.1px;
            border-top: 0;
            justify-content: flex-start;
            background-color: white;
            font-size: 1.5rem;
            padding-top: 20px;
        }
        article form
        {
            position: relative;
            right: 5%;
        }
        input
        {
            padding: 3%;
            font-size: 19px;
        }
        textarea
        {
            font-size: 19px;
            width: 335px !important;
        }
        input,textarea
        {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 300px;
        }
        #controles
        {
            display: flex;
            justify-content: center;
        }
        #controles input
        {
            margin: 5%;
        }
        input:focus, textarea:focus
        {
            box-shadow: 2px 2px 5px black;
        }
        
        #sessionClose
        {
            background-color: white;
            border-left:solid 0.1px;
            border-right:solid 0.1px;
        }
        p
        {
            color: red;
            font-size: 1.2rem;
        }